/final v1.rar
/project-play and travel
/project-main.jpg
/project.drawio.pdf
/project.drawio
/project powerpoint.pptx
/plan.txt
/.$project.drawio.bkp
/.$project.drawio.dtmp
/pseudocode old.txt
/pseudocode.txt